body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #222;
  text-align: justify;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  background: #111;
  padding: 15px 30px;
  position: relative;
}

h1 {
  color: #fff;
}

.logo-titre {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-titre img {
  height: 80px;
}

/* Cela m'a permis d'avoir un menu moderne et centré */
nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
}

h2 {
  color: #111;
}

section {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
}

footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
}
/* --- J'ai remarqué en publiant mon site que cela n'était pas adapté au téléphone --- */
@media screen and (max-width: 1024px) {
  article {
  width: 100%;
  }
}

