body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #000000;
  margin: 0;
  padding: 0;
}

/* J'ai d'abord voulu mettre mon logo et titre à gauche et le menu au milieu mais j'ai eu des difficultés 
sur le rendu téléphone, qui m'a contrainte à mettre tout au milieu afin qu'il n'y ait plus de chevauchement*/
header {
  background-color: #333333;
  color: white;
  padding: 20px; /* Pour ne pas coller aux bordures */
  text-align: center;
}

header img {
  width: 60px;
  vertical-align: middle;
}

header h1 {
  display: inline;
  margin-left: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

nav li {
  display: inline;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px; /* Pour espacer les sections */
  padding: 20px;
  background-color: #ffffff;
}

section h2 {
  margin-bottom: 10px;
}

footer {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

footer a {
  color: blue;
  text-decoration: none;
  margin: 5px;
}

@media print {
  article { width: 100%; margin: 10px; }
  header, footer { display: none; }
  p { font-size: 11pt; color: black; }
  h1 { font-size: 18pt; color: black; }
  h2 { font-size: 16pt; color: black; }
  h3 { font-size: 14pt; color: black; }
  h4 { font-size: 12pt; color: black; }
  }
}

@media screen (max-width: 1024px){
  article {
  width:100%;
  }
}
