body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;   
  color: #222222;        
  text-align: justify;
  margin: 0;
  padding: 0;
}

header {
  position: relative; 
  display: flex;
  align-items: center;
  background-color: #111111;
  padding: 15px 30px;
}

h1 {
  color: #ffffff; 
}

.logo-titre {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-titre img {
  height: 80px;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

h2 {
  color: #111111;
}

section {
  max-width: 1000px;           
  padding: 20px;          
  background-color: #ffffff;
  margin: 20px auto;
}

footer {
  background-color: #111111;   
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

@media screen (max-width: 1024px){
section {
width:100%;
 }
}
