body {
  font-family: Arial, sans-serif;
  font-size: 17px;
  background-color: #f5f5f5;
  color: black;
  margin: 0; /* Pour enlever les espaces au bord de la fenêtre */
  padding: 0;
}

/* J'ai d'abord voulu mettre mon logo et titre à gauche et le menu au milieu comme certains sites "modernes" mais j'ai eu des difficultés 
sur le rendu téléphone, qui m'a contrainte à mettre tout au milieu afin qu'il n'y ait plus de chevauchement lors du rétricessement d'écran*/
header {
  background-color: #363636;
  color: white;
  padding: 10px; /* Pour ne pas coller aux bordures */
  text-align: center;
}

header img {
  width: 60px;
  vertical-align: middle;
}

header h1 {
  display: inline;
  margin-left: 10px;
}
/* Solution de menu horizontal via : https://www.creativejuiz.fr/blog/tutoriels/creer-menu-horizontal-centre-css-sans-javascript */
nav {
  padding: 0; 
  margin: 0;
  text-align: center;
}

nav li {
  display: inline;
  list-style: none;
}

nav a {
  display:inline-block;
  margin: 0 30px;
  color: white;
  text-decoration: none;
}

section {
  max-width: 1000px;
  margin: auto;
  margin-bottom: 20px; /* Pour espacer les sections */
  padding: 20px;
  background-color: #ffffff;
}

section h2 {
  font-size: 25px;
  color: #477b8d;
}

footer {
  background-color: #363636;
  color: white;
  text-align: center;
  padding: 10px;
}

footer a {
  color: white;
}

@media print {
  section { width: 100%; margin: 10px; }
  header, footer { display: none; }
  p { font-size: 11pt; color: black; }
  h1 { font-size: 18pt; color: black; }
  h2 { font-size: 16pt; color: black; }
  h3 { font-size: 14pt; color: black; }
  h4 { font-size: 12pt; color: black; }
}

@media screen (max-width: 1024px){
  section {
  width:100%;
}
